<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title id="titre">LH1 - LH d'outre-tombe</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon_dead.ico" />
    <link
      href="/static/styles/LH1/acceuil.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="haut_de_page">
      <a href="acceuil.html" id="logo">
        <img src="/static/Logo_LH_Necro.png" />
      </a>
      <div id="text_acceuil_LH">La LH XXX</div>
    </div>
    <nav>
      <ul>
        <li classe="menu">
          <a>Les articles de la semaine</a>
          <ul class="sous">
            <li><a href="tricot">article 1</a></li>
            <li><a href="crochet">article 2</a></li>
            <li><a href="couture">article 3</a></li>
            <li><a href="tutos">article 4</a></li>
          </ul>
        </li>
        <li><a href="evenements.html"> Les derniers numéros </a></li>
        <li><a href="club.html"> Find your LH! </a></li>
      </ul>
    </nav>
  </body>
</html>
